body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    height: 100vh;
}

.login-left {
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-right {
    flex: 1;
    background-color: #F7931E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

#nomeLogo {
    margin-top: 10px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #000;
}

.login-form label {
    color: #000;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.question-container {
    text-align: center;
    padding: 50px;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

#sair-btn {
    background-color: #F7931E;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

#sair-btn:hover {
    opacity: 0.8;
}

#responder-btn {
    background-color: #F7931E;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 98.9%;
}
